name: Coverage

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branch:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Rust toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Install tools
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-llvm-cov

    - name: Generate code coverage
      run: cargo llvm-cov --lib --all-features --workspace --codecov --output-path codecov.json

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: codecov.json
        fail_ci_if_error: true
