name: Miri

on:
  schedule:
    - cron: "50 5 4,14,24 * *" # Runs three times a month
  workflow_dispatch: # Allows manual triggering

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: "1"
  MIRI_BACKTRACE: "1"

jobs:
  miri:
    name: Test (Miri)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: miri

      - name: Run miri
        run: cargo +nightly miri test --lib
